/ FOOTER
%footer
  %p.pull-right
    %a{:href => "#"} Back to top
  %p
    \© 2013 Company, Inc. ·
    %a{:href => "#"} Privacy
    \·
    %a{:href => "#"} Terms
/ .container
/
  Bootstrap core JavaScript
  \==================================================
/ Placed at the end of the document so the pages load faster
%script{:src => "assets/javascript/application.js.php"}
%script{:src => "assets/js/holder.js.php"}
\  </body>
\</html>