!!!
\<html lang="pt-BR">

%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %meta{:content => "", :name => "description"}/
  %meta{:content => "", :name => "author"}/
  %title Carousel Template for Bootstrap
  / Bootstrap core CSS
  %link{:href => "assets/stylesheet/application.css.php", :rel => "stylesheet"}/
  / Custom styles for this template
  %link{:href => "assets/stylesheet/carousel.css", :rel => "stylesheet"}/
/
  NAVBAR
  \==================================================
\  <body>
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top
      .container
        %button.navbar-toggle{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} Project name
        .nav-collapse.collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#contact"} Contact
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Dropdown
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li.nav-header Nav header
                %li
                  %a{:href => "#"} Separated link
                %li
                  %a{:href => "#"} One more separated link